<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="name" name="name"><%= pet.name %></h1>
    <p id="breed" name="breed"><%= pet.breed %></p>
    <p id="age" name="age"><%= pet.age %></p>
    <p id="description" name="description"><%= pet.description %></p>
    <p id="behavior" name="behavior"><%= pet.behavior %></p>
    <p id="history" name="history"><%= pet.history %></p>
    <img src="<%= pet.image %>" alt="pet's image">
    <form action="/api/v1/adopt/newComment" method="POST">
        <label>Comment on pet</label>
        <textarea name="contact" id="contact"></textarea>
        <input type="submit" name="" id="">
    </form>
    <% pet.contact.forEach(con => { %>
        <p><%= con %></p>
    <% }) %>
</body>
</html>