<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <link rel="stylesheet" href="skibidiRizz.css">
</head>
<body>
    <% pets.forEach(pet => {%>
        <p><%= pet.name %></p>
        <p><%= pet.breed %></p>
        <p><%= pet.age %></p>
        <p><%= pet.description %></p>
        <img src="<%= pet.image %>" alt="test">
    <% }) %>
</body>
</html>