<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tales and Scales - Pet Adoption Clinic</title>
    <link rel="stylesheet" href="auraMaster.css">
</head>
<body>

<!-- Pet Display Section -->


<section class="banner">
    <header>
        <a href="" class="logo">Tails<span>Scales</span></a>
        <div class="toggle"></div>
    </header>
    <form action="/api/v1/adopt/petSearch" method="POST">
        <legend>Search</legend>
        <label for="">Name:</label>
        <input type="text" name="name" id="name">
        <label for="">Breed:</label>
        <input type="text" name="breed" id="breed">
        <label for="">Age:</label>
        <input type="number" name="age" id="age">
        <input type="submit" value="Search">
    </form>
    <div class="content">
            <div class="pet-gallery">
                <% pets.forEach(pet => { %>
                    <div class="pet-card">
                        <p><%= pet.name %></p>
                        <p><%= pet.breed %></p>
                        <p><%= pet.age %></p>
                        <p><%= pet.description %></p>
                        <img src="<%= pet.image %>" alt="<%= pet.name %>">
                        <form action="/pet/<%= pet.id %>" method="GET">
                            <input type="submit" name="pet" id="pet" value="View more">
                        </form>
                    </div>
                <% }) %>
        </div>
    </div>
    <ul class="sci">
        <li><a href="https://www.facebook.com"><img src="facebook.png"></a></li>
        <li><a href="#"><img src="twitter.png"></a></li>
        <li><a href="https://www.instagram.com"><img src="instagram.png"></a></li>
    </ul>
    <ul class="menu">
        <li><a href="/index">Home</a></li>
        <li><a href="/pets/new">Donate Pets</a></li>
        <li><a href="/pets">gallery</a></li>
    </ul>
    </section>
    <script>
    let banner = document.querySelector('.banner');
    let menutoggle = document.querySelector('.toggle');
    menutoggle.onclick = function(){
        menutoggle.classList.toggle('active');
        banner.classList.toggle('active');
    }
    </script>

</body>
</html>
